.homepage-main-container{
    text-align: center;
    margin: 48px;
    color: white;
    font-size: 50px;
    
}

.second{
    text-align: center;
    margin: 48px;
    color: rgb(188, 219, 35);
    font-size: 30px;
}